Repository meschbach/mcp-vikunja: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, golangci-lint, go-test-unit, go-build-mcp-vikunja, go-build-vikunja-cli

.pre-commit-config.yaml:

# Pre-commit hooks for mcp-vinkunja project
# Ensures code quality standards with fast developer feedback

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        files: '\.md$|\.hcl$'
        pass_filenames: false
        description: Spell check Markdown and HCL files
        args:
          # excluded as it handles misspellings
          - "--exclude-file"
          - "api/vikunja.yaml"
  - repo: local
    hooks:
      # Phase 1: Fast Local Checks
      - id: go-fmt
        name: go fmt
        entry: gofmt
        language: system
        args: ["-w", "."]
        files: '\.go$'
        description: Format Go code according to standard conventions

      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        language: system
        args: ["mod", "tidy"]
        files: '(go\.mod|go\.sum)$'
        pass_filenames: false
        description: Clean up go.mod and go.sum dependencies

      - id: go-vet
        name: go vet
        entry: go
        language: system
        args: ["vet", "./..."]
        files: '\.go$'
        pass_filenames: false
        description: Analyze Go code for potential issues

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint
        language: system
        args: ["run", "--timeout=5m"]
        files: '\.go$'
        pass_filenames: false
        description: Comprehensive Go linting with default settings

      # Phase 2: Unit Tests (Fast - matches CI unit tests)
      - id: go-test-unit
        name: go test unit
        entry: go
        language: system
        args: ["test", "-count", "1", "./internal/..."]
        files: '\.go$'
        pass_filenames: false
        description: Run unit tests to verify functionality

      # Phase 3: Build Verification
      - id: go-build-mcp-vikunja
        name: go build mcp-vikunja
        entry: go
        language: system
        args: ["build", "-o", "bin/mcp-vikunja", "./cmd/mcp-vikunja"]
        files: '\.go$'
        pass_filenames: false
        description: Verify mcp binary builds successfully

      - id: go-build-vikunja-cli
        name: go build vikunja-cli
        entry: go
        language: system
        args: ["build", "-o", "bin/vikunja-cli", "./cmd/vikunja-cli"]
        files: '\.go$'
        pass_filenames: false
        description: Verify cli binary builds successfully

# Global configuration
default_stages: [pre-commit]
fail_fast: false
default_language_version:
  golang: '1.25'

# Skip patterns for generated files or third-party code
exclude: |
  (?x)^(
    vendor/.*|
    \.git/.*|
    release/.*|
  )$

cd/pipeline: need to simplify which go versions we build with
  .github/workflows/ci-cd.yml
Due: none

product/roadmap: notes we need to improve build pipeline quality
  docs/roadmap.md
Due: none

Use docker-compose for testing to ensure they are in sync with the dev expierence
  .github/workflows/ci-cd.yml
Due: none

a file got away from git ....
  cmd/vikunja-cli/cmd/get.go
Due: go-fmt, go-vet, golangci-lint, go-test-unit, go-build-mcp-vikunja, go-build-vikunja-cli

cd/linting: upgrades golangci-lint to v9
  .github/workflows/ci-cd.yml
Due: none

updating linting file format version
  .golangci.yml
Due: none

cd/pipeline: real coverage rate is 27.7% ; fixes errors on reporting
  .github/workflows/ci-cd.yml
  AGENTS.md
  Makefile
Due: none

deps/update: updates all dependencies
  go.mod
  go.sum
Due: go-mod-tidy

deps/update: updating go.sum file :-)
  go.sum
Due: go-mod-tidy
